language: python
python:
  - 2.7
  - 3.3
  - 3.4
env:
  - REQUESTS=2.0.0
  - REQUESTS=2.1.0
  - REQUESTS=2.2.0
  - REQUESTS=2.3.0
install:
  - pip install -q requests==$REQUESTS
  - pip install -r requirements.txt
  - pip install -e .
script: python -m unittest discover tests/ '*test.py'
